.container{
	fint-family:arail;
	font-size:24px;
}
h3{
	padding-top:10%;
}
.input1{
	margin-left:120px;
}
.input2{
		margin-left:95px;
	
}
.input3{
		margin-left:85px;
	
}
.input8{
	margin-left:22px;
}

.anchor{
	font-size:15px;
	padding-left:5px;
	
}
a{
	text-decoration: none;
}
.container1{
	margin-left:800px;
	margin-top:-280px;
	fint-family:arail;
	font-size:24px;
}
.input4{
     margin-left:75px;
}
.input5{
	     margin-left:123px;
	
}
.input6{
		     margin-left:87px;
	
}
.input7{
	
	margin-left:26px;
}